{% extends '_admin_base.html.twig' %}

{% block body %}
  <div class='row'>
    <div class='col-12'>
      <table class='table table-hover'>
        <thead>
        <tr>
          <th class='w-10'></th>
          <th class='text-center'>{{ 'cms.file.address'|trans }}</th>
          <th class='w-25'></th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
          <tr>
            <td class='align-middle'><img src='{{ asset(record.address) }}' class='img-fluid'/></td>
            <td class='align-middle'>{{ record.description }}<br/><code>{{ record.address }}</code></td>
            <td>{# TODO: Add details action #}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a href='{{ path('balticrobo_website_cms_file_add') }}'
          class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>{{ '_button.add'|trans }}</a>
    </div>
  </div>
{% endblock %}
