{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container col-12 col-md-6 offset-md-3'>
      {{ form_start(form, {class: 'form', attr: {novalidate: 'novalidate'}}) }}
      {% set attr = {} %}
      {% if is_error %}
        {% set attr = {attr: {class: 'is-invalid'}} %}
      {% endif %}
      <div class='row'>
        <div class='col-12 col-sm-6'>
          {{ form_row(form.email, attr) }}
        </div>
        <div class='col-12 col-sm-6'>
          {{ form_row(form.password, attr) }}
        </div>
        <div class='col-12 col-sm-6 offset-sm-6'>
          <button type="submit" class="btn btn-block btn-primary">{{ 'buttons.login'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
    <div class='container col-12 col-md-6 offset-md-3'>
      <hr/>
      {{ 'security.login.dont_have_account'|trans }}
      <strong><a href='{{ path('balticrobo_website_security_register') }}'>
          {{ 'buttons.register'|trans }}
        </a></strong>
    </div>
    <div class='container col-12 col-md-6 offset-md-3 pb-3'>
      {{ 'security.login.forgot_password'|trans }}
      <strong><a href='{{ path('balticrobo_website_security_register') }}'>
          {{ 'buttons.forgotten_password'|trans }}
        </a></strong>
    </div>
  </div>
{% endblock %}
