{% extends '_admin_base.html.twig' %}

{% block body %}
  <div class='row'>
    <div class='col-12'>
      <h4>{{ 'cms.volunteer.header'|trans }}</h4>
      {% for record in records %}
        <div class='container'>
          <hr/>
          <div class='col-12 col-md-6'>
            <strong>{{ 'volunteer.form.name'|trans }}:</strong> {{ record.name }}<br/>
          </div>
          <div class='col-12 col-md-3 offset-md-9'>
            <button class="btn btn-primary btn-sm btn-block" type="button" data-toggle="collapse"
                data-target="#volunteer_{{ record.id }}" aria-expanded="false" aria-controls="volunteer_{{ record.id }}">
              {{ '_button.more'|trans }}
            </button>
          </div>
          <div class='col-12'>
            <div class="collapse" id="volunteer_{{ record.id }}">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem ante, eleifend ut velit at, euismod
              suscipit odio. Praesent imperdiet gravida dolor, sit amet rutrum orci malesuada eu. Mauris maximus
              porttitor ipsum non luctus. Proin ac enim sed nulla dignissim tincidunt tristique non tellus. In semper
              lectus quis elit sodales, at posuere ante placerat. Sed pellentesque felis eros, nec congue risus eleifend
              quis. In at vulputate ante, et tempus sem. Nulla vel ultricies nisl. Nam vitae suscipit enim, a dapibus.
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
