{% extends '_judge_base.html.twig' %}

{% block body %}
  {{ form_start(form, {class: 'form', attr: {novalidate: 'novalidate'}}) }}
  <div class='row'>
    <div class='col-12'>
      <h2>{{ 'about_team'|trans }}</h2>
      <dl class="row">
        <dt class="col-3">{{ 'competitor_zone.registration.form.name'|trans }}</dt>
        <dd class="col-9">{{ team.name }}</dd>
        <dt class="col-3">{{ 'competitor_zone.registration.form.identifier'|trans }}</dt>
        <dd class="col-9">{{ team.identifier }}</dd>
        <dt class="col-3">{{ 'competitor_zone.registration.form.city'|trans }}</dt>
        <dd class="col-9">{{ team.city }}</dd>
        <dt class="col-3">{{ 'competitor_zone.registration.form.scientific_organization'|trans }}</dt>
        <dd class="col-9">{{ team.scientificOrganization|default('- brak -') }}</dd>
        <dt class="col-3">{{ 'created_by'|trans }}</dt>
        <dd class="col-9">
          <a href='mailto:{{ team.createdBy.email }}'>
            <i class='fa fa-fw fa-envelope'></i> {{ team.createdBy.name }}
          </a>
        </dd>
        <dt class="col-3">{{ 'created_at'|trans }}</dt>
        <dd class="col-9">{{ team.createdAt|date('Y-m-d H:i') }}</dd>
        <dt class="col-3">{{ 'count_members'|trans }}</dt>
        <dd class="col-9">{{ members|length }}</dd>
        <dt class="col-3">{{ 'count_constructions'|trans }}</dt>
        <dd class="col-9">{{ constructions|length }}</dd>
      </dl>
      <h2>{{ 'members'|trans }}</h2>
      <table class='table table-hover'>
        <thead>
        <tr>
          <th class='text-center'>
            {{ 'competitor_zone.registration.form.forename'|trans }}
            {{ 'competitor_zone.registration.form.surname'|trans }}
          </th>
          <th class='text-center'>{{ 'competitor_zone.registration.form.shirt_type'|trans }}</th>
          <th class='text-center'>{{ 'created_at'|trans }}</th>
          <th class='text-center w-10'>{{ 'presence'|trans }}</th>
          <th class='text-center w-10'>{{ 'shirt_given_out'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, member in members %}
          <tr>
            {{ form_widget(form.members[index].id) }}
            <td class='align-middle'>{{ member.name }}</td>
            <td class='align-middle text-center'>
              {{ member.namedShirtType|trans }}
              {% if member.createdAt > event.registrationStopsAt %}
                ({{ 'added_in_extended_registration_period'|trans }})
              {% endif %}
            </td>
            <td class='align-middle text-center'>{{ member.createdAt|date('Y-m-d H:i') }}</td>
            <td class='align-middle text-center'>{{ form_widget(form.members[index].presence) }}</td>
            <td class='align-middle text-center'>{{ form_widget(form.members[index].shirtGivenOut) }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <h2>{{ 'constructions'|trans }}</h2>
      <table class='table table-hover'>
        <thead>
        <tr>
          <th class='text-center'>{{ 'competitor_zone.registration.form.construction_name'|trans }}</th>
          <th class='text-center'>{{ 'competition'|trans }}</th>
          <th class='text-center'>{{ 'created_at'|trans }}</th>
          <th class='text-center w-10'>{{ 'presence'|trans }}</th>
          <th class='text-center w-10'>{{ 'tech_validated'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for construction in constructions %}
          <tr>
            {#{{ form_widget(form.constructions[index].id) }}#}
            <td class='align-middle'>{{ construction.name }}</td>
            <td class='align-middle text-center'>
              {#{{ member.namedShirtType|trans }}#}
            </td>
            <td class='align-middle text-center'>
              {{ construction.createdAt|date('Y-m-d H:i') }}
              {% if construction.createdAt > event.registrationStopsAt %}
                <br/>({{ 'added_in_extended_registration_period'|trans }})
              {% endif %}
            </td>
            {#<td class='align-middle text-center'>{{ form_widget(form.members[index].presence) }}</td>#}
            {#<td class='align-middle text-center'>{{ form_widget(form.members[index].shirtGivenOut) }}</td>#}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <button class='btn btn-block btn-success col-sm-6 offset-sm-6 col-md-4 offset-md-8'>
        {{ '_button.save'|trans }}
      </button>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
