{% extends '_admin_base.html.twig' %}

{% block body %}
  <div class='row'>
    <div class='col-12'>
      <h4>{{ 'cms.register.hackathon.header'|trans }}</h4>
      {% for record in records %}
        <div class='container'>
          <div class='row'>
            <div class='col-12'>
              <hr/>
            </div>
            <div class='col-12 col-md-9'>
              <strong>{{ record.name }}</strong>
              <i class='fa fa-fw fa-clock-o'></i> {{ record.createdAt|date('Y-m-d') }}
              <br/>
              <i class='fa fa-fw fa-map'></i> {{ record.city }}
            </div>
            <div class='col-12 col-sm-3'>
              <button class='btn btn-primary btn-sm btn-block' type='button' data-toggle='collapse'
                  data-target='#team_{{ record.id }}' aria-expanded='false'
                  aria-controls='team_{{ record.id }}'>
                {{ '_button.more'|trans }}
              </button>
            </div>
            <div class='col-12'>
              <div class='collapse' id='team_{{ record.id }}'>
                <dl class='pt-2 pt-md-3'>
{{ dump(record) }}
                  <dt>{{ 'competitor_zone.registration.form.why_you'|trans }}</dt>
                  <dd>{{ record.whyYou }}</dd>
                  <dt>{{ 'competitor_zone.registration.form.experience'|trans }}</dt>
                  <dd>{{ record.experience }}</dd>
                  <dt>{{ 'cms.register.hackathon.created_by'|trans }}</dt>
                  <dd>
                    <strong>{{ record.createdBy.name }}</strong>
                    <i class='fa fa-fw fa-envelope-o'></i>
                    <a href='mailto:{{ record.createdBy.email }}'>{{ record.createdBy.email }}</a>
                  </dd>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
