{% extends '_base.html.twig' %}
{% import 'default/_home_macro.html.twig' as macro %}

{% block body %}
  <header class='header header-{{ app.request.locale }}'></header>

  {% include '_common/menu.html.twig' %}

  <div class='wrapper'>
    <div class='container'>
      <div class='row justify-content-center justify-content-sm-around'>
        <div class='col-10 col-md-11 text-center text-sm-left'>
          <img class='img-logo-short' src='{{ asset('build/images/logo-short-' ~ app.request.locale ~ '.svg') }}' alt=''/>
        </div>
        <div class='m-3 m-sm-0 d-flex flex-row flex-sm-column flex-wrap'>
          {{ macro.social('Facebook', 'https://fb.me/balticrobo') }}
          {{ macro.social('Twitter', 'https://twitter.com/balticrobo') }}
          {{ macro.social('Instagram', 'https://instagram.com/balticrobo') }}
        </div>
      </div>
    </div>
    {{ macro.simple_section('about_tournament') }}
    {{ macro.simple_section_header('competitions', true) }}
    <div class='container'>
      <div class='row justify-content-center'>
        {{ macro.competition_tile('sumo') }}
        {{ macro.competition_tile('line_follower') }}
        {{ macro.competition_tile('freestyle') }}
        {{ macro.competition_tile('micromouse') }}
        {{ macro.competition_tile('lego') }}
        {{ macro.competition_tile('robohackaton') }}
        {{ macro.competition_modal('sumo') }}
        {{ macro.competition_modal('line_follower') }}
        {{ macro.competition_modal('freestyle') }}
        {{ macro.competition_modal('micromouse') }}
        {{ macro.competition_modal('lego') }}
        {{ macro.competition_modal('robohackaton') }}
      </div>
    </div>
    {{ macro.simple_section('conference') }}
    {{ macro.simple_section('location') }}
    {{ macro.simple_section('history') }}
    {{ macro.simple_section('organisers') }}
    <div class='container'>
      <div class='d-flex flex-column flex-md-row-reverse'>
        <div class='contact text-center'>
          {{ macro.simple_section_header('contact') }}
          <div class='contact-question'>{{ 'default.home.section.contact.any_questions'|trans }}</div>
          <div class='d-flex flex-row justify-content-center'>
            {{ macro.social('Mail', 'mailto:weronika.narloch@skalppg.pl', true) }}
            {{ macro.social('Facebook', 'https://fb.me/balticrobo', true) }}
            {{ macro.social('Twitter', 'https://twitter.com/balticrobo', true) }}
            {{ macro.social('Instagram', 'https://instagram.com/balticrobo', true) }}
          </div>
          <div class='contact-question'>{{ 'default.home.section.contact.want_update'|trans }}</div>
          <div class='contact-answer'>{{ 'default.home.section.contact.more_soon'|trans }}</div>
        </div>
        <div class='contact text-center'>
          <img src='{{ asset('build/images/logo-circle-' ~ app.request.locale ~ '.svg') }}'
              alt='' class='img-logo-circle'/>
        </div>
      </div>
    </div>
  </div>

  <div class='container-name secondary text-center'>
    <img src='{{ asset('build/images/registration.svg') }}' alt='' class='img-registration'/>
    <span>{{ 'default.home.section.registration._header'|trans }}</span>
  </div>
{% endblock %}
