{% extends '_base.html.twig' %}
{% import _self as macro %}

{% block body %}
  <header class='header header-{{ app.request.locale }}'></header>

  <nav class='navbar navbar-light navbar-expand-sm sticky-top'>
    <div class='container-fluid'>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a class='nav-link' href='{{ path('balticrobo_website_default_home') }}'>
              {{ 'default.home.menu.home'|trans }}
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='{{ path('balticrobo_website_security_userlogin') }}'>
              {{ 'default.home.menu.login'|trans }}
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='{{ path('balticrobo_website_default_home') }}'>
              {{ 'default.home.menu.register'|trans }}
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='{{ path('balticrobo_website_default_home') }}'>
              {{ 'default.home.menu.rules'|trans }}
            </a>
          </li>
        </ul>
      </div>
      <ul class='navbar-nav navbar-nav--locale'>
        {% for locale in available_locales %}
          {{ macro.navbar_locale(locale) }}
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-10'>
          <img src='//via.placeholder.com/350x150' alt=''/>
        </div>
        <div class='col-12 col-sm-2 text-right'>
          <img src='//via.placeholder.com/50x50'/>
          <img src='//via.placeholder.com/50x50'/>
          <img src='//via.placeholder.com/50x50'/>
          <img src='//via.placeholder.com/50x50'/>
        </div>
      </div>
    </div>

    <div class='container-name text-center'>
      {{ 'default.home.section.about_tournament._header'|trans }}
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <p class='text-justify'>
            {{ 'default.home.section.about_tournament.content'|trans|raw }}
          </p>
        </div>
      </div>
    </div>

    <div class='container-name secondary text-center'>
      {{ 'default.home.section.competitions._header'|trans }}
    </div>
    <div class='container'>
      <div class='row'>
        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.sumo.name'|trans }}</span>
          <div class='icon sumo'></div>
        </div>
        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.line_follower.name'|trans }}</span>
          <div class='icon line-follower'></div>
        </div>

        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.freestyle.name'|trans }}</span>
          <div class='icon freestyle'></div>
        </div>
        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.micromouse.name'|trans }}</span>
          <div class='icon micromouse'></div>
        </div>
        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.lego.name'|trans }}</span>
          <div class='icon lego'></div>
        </div>
        <div class='d-flex col-12 col-sm-5 competition'>
          <span>{{ 'default.home.section.competitions.robohackaton.name'|trans }}</span>
          <div class='icon robohackaton'></div>
        </div>
      </div>
    </div>
  </div>

  <div style='height: 1000px; background: chartreuse'></div>
{% endblock %}

{% macro navbar_locale(locale) %}
  <li class='nav-item{% if app.request.locale == locale %} active{% endif %}'>
    {% if app.request.locale == locale %}
      <span class="nav-link">
        {{ locale|upper }}
      </span>
    {% else %}
      <form action='{{ path('balticrobo_website_locale_changelocale', {locale: locale}) }}', method='post'>
        <button type='submit' class='btn btn-link nav-link'>
          {{ locale|upper }}
        </button>
      </form>
    {% endif %}
  </li>
{% endmacro %}
