{% extends '_base.html.twig' %}
{% import 'default/_home_macro.html.twig' as macro %}

{% block body %}
  <header class='header header-{{ app.request.locale }}'></header>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' with {is_social_visible: true} %}
    {{ macro.simple_section('about_tournament') }}
    {{ macro.simple_section_header('competitions', true) }}
    <div class='container'>
      <div class='row justify-content-center'>
        {# TODO: get list of competitions from database #}
        {{ macro.competition_tile('sumo') }}
        {{ macro.competition_tile('line_follower') }}
        {{ macro.competition_tile('freestyle') }}
        {{ macro.competition_tile('micromouse') }}
        {{ macro.competition_tile('lego') }}
        {{ macro.competition_tile('robohackathon') }}
        {{ macro.competition_modal('sumo') }}
        {{ macro.competition_modal('line_follower') }}
        {{ macro.competition_modal('freestyle') }}
        {{ macro.competition_modal('micromouse') }}
        {{ macro.competition_modal('lego') }}
        {{ macro.competition_modal('robohackathon') }}
      </div>
    </div>
    {{ macro.simple_section('conference') }}
    {{ macro.simple_section('location') }}
    {{ macro.simple_section('history') }}
    {{ macro.simple_section_header('organisers') }}
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class="media">
            <img class="img-organiser align-self-center mr-3 d-none d-sm-block" src="{{ asset('build/images/organiser-skalp.png') }}" alt=""/>
            <div class="media-body">
              <h5 class="mt-0">{{ ('default.home.section.organisers.content.skalp_header')|trans }}</h5>
              <p class='text-justify'>{{ ('default.home.section.organisers.content.skalp')|trans|raw }}</p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0">{{ ('default.home.section.organisers.content.nksa_header')|trans }}</h5>
              <p class='text-justify'>{{ ('default.home.section.organisers.content.nksa')|trans|raw }}</p>
            </div>
            <img class="img-organiser align-self-center ml-3 d-none d-sm-block" src="{{ asset('build/images/organiser-nksa.png') }}" alt=""/>
          </div>
          <div class="media">
            <img class="img-organiser align-self-center mr-3 d-none d-sm-block" src="{{ asset('build/images/organiser-gpnt-' ~ app.request.locale ~ '.png') }}" alt=""/>
            <div class="media-body">
              <h5 class="mt-0">{{ ('default.home.section.organisers.content.gpnt_header')|trans }}</h5>
              <p class='text-justify'>{{ ('default.home.section.organisers.content.gpnt')|trans|raw }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='d-flex flex-column flex-md-row-reverse'>
        <div class='contact text-center'>
          {{ macro.simple_section_header('contact') }}
          <div class='contact-question'>{{ 'default.home.section.contact.any_questions'|trans }}</div>
          <div class='d-flex flex-row justify-content-center'>
            {{ macro.social('Mail', 'mailto:weronika.narloch@skalppg.pl') }}
            {{ macro.social('Facebook', 'https://fb.me/balticrobo') }}
            {{ macro.social('Twitter', 'https://twitter.com/balticrobo') }}
            {{ macro.social('Instagram', 'https://instagram.com/balticrobo') }}
          </div>
          <div class='contact-question'>{{ 'default.home.section.contact.want_update'|trans }}</div>
          <div class='contact-answer'>{{ 'default.home.section.contact.more_soon'|trans }}</div>
        </div>
        <div class='contact text-center'>
          <img src='{{ asset('build/images/logo-circle-' ~ app.request.locale ~ '.svg') }}' alt='' class='img-logo-circle p-3'/>
        </div>
      </div>
    </div>
  </div>
  <div class='container-name secondary text-center'>
    <img src='{{ asset('build/images/registration.svg') }}' alt='' class='img-registration'/>
    <span>{{ 'default.home.section.registration._header'|trans }}</span>
  </div>
{% endblock %}
