{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div class="container container-name text-center">{{ this_year.event.year }}</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
          {% for type_name, types in this_year.records %}
            {% if not types.isEmpty %}
              <div class="container container-name text-center">{{ type_name|trans }}</div>
              <div class='row'>
                {% for record in types %}
                  <div class='col-12 col-sm-6 align-self-center text-center'>
                    <a href='{{ record.url }}' target='_blank'>
                      <img alt='' src='{{ record.file.address }}' class='img-fluid m-3'/> </a>
                  </div>
                {% endfor %}
              </div>
            {% elseif type_name == 'enum.partner_type.sponsor' %}
              <div class="container container-name text-center">{{ type_name|trans }}</div>
              <br/><br/>
              <h4>
                {% if app.request.locale == 'pl' %}
                  Nasi sponsorzy są najlepsi! Zostań jednym z nich, skontakuj się z nami:
                {% else %}
                  Our sponsors are the best! Become one, contact with:
                {% endif %}
              </h4>
              <h5>
                <a href='mailto:mateusz.dyrda@srskalp.pl'>
                  <i class='fa fa-fw fa-envelope'></i> Mateusz Dyrda
                </a>
              </h5>
              <br/><br/>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <div class="container container-name text-center">{{ last_year.event.year }}</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
          {% for type_name, types in last_year.records %}
            {% if not types.isEmpty %}
              <div class="container container-name text-center">{{ type_name|trans }}</div>
              <div class='row'>
                {% for record in types %}
                  <div class='col-12 col-sm-6 align-self-center text-center'>
                    <a href='{{ record.url }}' target='_blank'>
                      <img alt='' src='{{ record.file.address }}' class='img-fluid m-3'/> </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{#mateusz.dyrda@srskalp.pl#}
