<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content=''>
    <meta name='author' content='Paweł Cierzniakowski <pawel@cierzniakowski.pl>'>
    <title>{% block title %}{{ '_common.event_name'|trans }}{% endblock %}</title>
    <link rel='apple-touch-icon' sizes='60x60' href='{{ asset('icons/apple-touch-icon-60x60.png') }}'>
    <link rel='apple-touch-icon' sizes='76x76' href='{{ asset('icons/apple-touch-icon-76x76.png') }}'>
    <link rel='apple-touch-icon' sizes='120x120' href='{{ asset('icons/apple-touch-icon-120x120.png') }}'>
    <link rel='apple-touch-icon' sizes='152x152' href='{{ asset('icons/apple-touch-icon-152x152.png') }}'>
    <link rel='apple-touch-icon' sizes='180x180' href='{{ asset('icons/apple-touch-icon-180x180.png') }}'>
    <link rel='icon' type='image/png' sizes='32x32' href='{{ asset('icons/favicon-32x32.png') }}'>
    <link rel='icon' type='image/png' sizes='194x194' href='{{ asset('icons/favicon-194x194.png') }}'>
    <link rel='icon' type='image/png' sizes='192x192' href='{{ asset('icons/android-chrome-192x192.png') }}'>
    <link rel='icon' type='image/png' sizes='16x16' href='{{ asset('icons/favicon-16x16.png') }}'>
    <link rel='manifest' href='{{ asset('site.webmanifest') }}'>
    <link rel='mask-icon' href='{{ asset('icons/safari-pinned-tab.svg') }}' color='#84c2e0'>
    <link rel='shortcut icon' href='{{ asset('favicon.ico') }}'>
    <meta name='msapplication-TileColor' content='#84c2e0'>
    <meta name='msapplication-TileImage' content='{{ asset('icons/mstile-144x144.png') }}'>
    <meta name='msapplication-config' content='{{ asset('browserconfig.xml') }}'>
    <meta name='theme-color' content='#84c2e0'>
    {% block stylesheets %}
        <link rel='stylesheet' href='{{ asset('build/css/app.css') }}'>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src='{{ asset('build/manifest.js') }}'></script>
    <script src='{{ asset('build/js/common.js') }}'></script>
    <script src='{{ asset('build/js/app.js') }}'></script>
{% endblock %}
</body>
</html>
