<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
<head>
  {% include '_common/_head.html.twig' %}
  {% block stylesheets %}
    <link rel='stylesheet' href='{{ asset('build/css/app.css') }}'>
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
  <script src='{{ asset('build/manifest.js') }}'></script>
  <script src='{{ asset('build/js/common.js') }}'></script>
  <script src='{{ asset('build/js/app.js') }}'></script>
{% endblock %}
</body>
</html>
