{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <h1>{{ 'competitor_zone.dashboard.welcome_header'|trans }}</h1>
          <strong>{{ 'competitor_zone.dashboard.event_name'|trans }}:</strong>
          {{ '_common.event_name'|trans }} {{ event.year }}<br/>
          <strong>{{ 'competitor_zone.dashboard.competitor_name'|trans }}:</strong>
          {{ competitor.name }}<br/> <strong>{{ 'competitor_zone.dashboard.last_login_at'|trans }}:</strong>
          {% if competitor.lastLoginAt is null %}
            {{ 'competitor_zone.dashboard.never_logged_in'|trans }}
          {% else %}
            {{ competitor.lastLoginAt|date('Y-m-d H:i') }}
          {% endif %}
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <h2>{{ 'competitor_zone.dashboard.registration_competition'|trans }}</h2>
          <table class='table table-hover'>
            <thead>
            <tr>
              <th class='text-center'>{{ 'competitor_zone.registration.form.name'|trans }}</th>
              <th class='w-25'></th>
            </tr>
            </thead>
            <tbody>
            {% for team in competition_teams %}
              <tr>
                <td class='align-middle'><strong>[{{ team.identifier }}]</strong> {{ team.name }}</td>
                <td><a href='{{ path('balticrobo_website_competitor_registration_competition_teamdetails', {
                    'identifier': team.identifier,
                    'eventYear': team.event.year
                  }) }}' class='btn btn-primary btn-block'>{{ '_button.details'|trans }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% if is_active_registration.extended_period %}
            <a href='{{ path('balticrobo_website_competitor_registration_competition_addteam') }}' class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>
              {{ '_button.add'|trans }}
            </a>
          {% elseif is_survey.competition %}
            <a href='{{ path('balticrobo_website_competitor_competition_survey') }}' class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>
              {{ '_button.survey'|trans }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <h2>{{ 'competitor_zone.dashboard.registration_hackathon'|trans }}</h2>
          <table class='table table-hover'>
            <thead>
            <tr>
              <th class='text-center'>{{ 'competitor_zone.registration.form.name'|trans }}</th>
              <th class='w-25'></th>
            </tr>
            </thead>
            <tbody>
            {% for team in hackathon_teams %}
              {% set team_members = team.members|length %}
              <tr>
                <td class='align-middle'>
                  {{ team.name }}
                  {% if team_members >= constant('BalticRobo\\Website\\Entity\\Registration\\Hackathon\\Team::MINIMUM_FULL_TEAM_MEMBERS') %}
                    <em style='font-size:.8em'>{{ 'competitor_zone.registration.hackathon.completed_team'|trans }}</em>
                  {% endif %}
                  <br/>
                  <span class='font-italic
                    {% if team_members == 0 %}text-danger
                    {% elseif team_members == constant('BalticRobo\\Website\\Entity\\Registration\\Hackathon\\Team::MAX_MEMBERS') %}text-success
                    {% endif %}'>
                    {{ 'competitor_zone.dashboard.members'|trans({'%count%': team_members}) }}
                  </span>
                </td>
                <td><a href='{{ path('balticrobo_website_competitor_registration_hackathon_teamdetails', {
                    'eventYear': team.event.year,
                    'name': team.name
                  }) }}' class='btn btn-primary btn-block'>{{ '_button.details'|trans }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% if hackathon_teams.count < constant('BalticRobo\\Website\\Entity\\Registration\\Hackathon\\Team::MAX_TEAMS') and is_active_registration.standard_period %}
            <a href='{{ path('balticrobo_website_competitor_registration_hackathon_addteam') }}' class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>
              {{ '_button.add'|trans }}
            </a>
          {% elseif is_survey.hackathon %}
            <a href='{{ path('balticrobo_website_competitor_hackathon_survey') }}' class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>
              {{ '_button.survey'|trans }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <h2>{{ 'competitor_zone.dashboard.information'|trans }}</h2>
          <ul class='event-list'>
            {% for info in information %}
              <li>
                <div class='type'>
                  <span><i class='{{ info.FontAwesomeType }}'></i></span>
                </div>
                <div class='info'>
                  <p class='desc'>{{ info.message|raw }}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr/>
      <div class='row'>
        <div class='col-12'>
          <a href='{{ path('balticrobo_website_security_logout') }}' class='btn btn-danger btn-block col-12 col-sm-4 offset-sm-8'>
            {{ '_button.logout'|trans }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
