{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <h2>{{ 'competitor_zone.registration.competition.team_details.info'|trans }}</h2>
          <dl class='row'>
            <dt class='col-12 col-md-4 text-md-right'>{{ 'competitor_zone.dashboard.event_name'|trans }}</dt>
            <dd class='col-12 col-md-8'>{{ '_common.event_name'|trans }} {{ event.year }}</dd>
            <dt class='col-12 col-md-4 text-md-right'>{{ 'competitor_zone.registration.form.name'|trans }}</dt>
            <dd class='col-12 col-md-8'><strong>[{{ team.identifier }}]</strong> {{ team.name }}</dd>
            <dt class='col-12 col-md-4 text-md-right'>{{ 'competitor_zone.registration.form.city'|trans }}</dt>
            <dd class='col-12 col-md-8'>{{ team.city }}</dd>
            {% if team.scientificOrganization %}
              <dt class='col-12 col-md-4 text-md-right'>{{ 'competitor_zone.registration.form.scientific_organization'|trans }}</dt>
              <dd class='col-12 col-md-8'>{{ team.scientificOrganization }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <h4>{{ 'competitor_zone.registration.competition.team_details.members'|trans }}</h4>
          {% if not team.members.empty %}
              <table class='table table-hover'>
                <thead>
                <tr>
                  <th>{{ 'competitor_zone.registration.form.forename'|trans }}
                      {{ 'competitor_zone.registration.form.surname'|trans }}</th>
                </tr>
                </thead>
              </table>
          {% else %}
              {{ 'competitor_zone.registration.competition.team_details.add_member'|trans }}
          {% endif %}
          {% if team.members.count < 4 %}
            <a href='#' class='btn btn-success btn-block col-12 col-sm-4 offset-sm-8'>
                {{ 'buttons.add'|trans }}
            </a>
          {% endif %}
        </div>
      </div>
      {{ dump(team) }}
    </div>
  </div>
{% endblock %}
