{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 text-center'>
          <img src='{{ asset('build/images/sponsor_roboplanet.svg') }}' alt='' class='img-fluid'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          {% if app.request.locale == 'pl' %}
            RoboPlanet to innowacyjne zajęcia z robotyki i programowania w Trójmieście. Rozwijamy wyobraźnię i uczymy
            wytrwałości w dążeniu do celu, wyposażając przy tym dzieci w umiejętności niezbędne do funkcjonowania
            w XXI wieku.<br/><br/>
            Wśród naszej oferty znajdują się:
            <ol>
              <li>Zajęcia z robotyki</li>
              <li>Kolonie</li>
              <li>Półkolonie</li>
              <li>Urodziny</li>
            </ol>
          {% else %}
            RoboPlanet is an educational company located in Gdańsk, Poland. We teach robotics, programming and
            encourage children to pursue an education in STEM. Our curriculum develops analytical thinking and
            empowers kids with abilities necessary to participate in the 21st century.<br/><br/>
            Our offer includes:
            <ol>
              <li>Regular robotics classes with LEGO® Mindstorms™</li>
              <li>Summer and winter camps</li>
              <li>Birthday parties</li>
            </ol>
          {% endif %}
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-a.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-b.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-c.jpg') }}' alt='' class='img-fluid'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          {% if app.request.locale == 'pl' %}
            Specjalnie na Bałtyckie Bitwy Robotów, przygotowaliśmy masę atrakcji dla młodych pasjonatów robotyki!
            <br/><br/>
            Wystawa robotów budowanych na naszych zajęciach i koloniach. Każdy z robotów będzie dostępny do sterowania
            i zabawy dla zwiedzających.
          {% else %}
            We have prepared plenty of attractions for robotics enthusiasts exclusively for Baltic Robo Battles!
            <br/><br/>
            Interactive exhibit of robots from our classes.
          {% endif %}
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-d.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-e.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-f.jpg') }}' alt='' class='img-fluid'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          {% if app.request.locale == 'pl' %}
            Stanowisko do samodzielnej budowy – rodzice wraz z dziećmi będą mogli zbudować robota z instrukcji pod okiem
            instruktorów, lub wymyślić całkowicie autorską konstrukcję.
          {% else %}
            Individual workshop stands – kids along with their parents will be able to assemble one construction from
            our lessons, or develop their entirely new idea!
          {% endif %}
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-g.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-h.jpg') }}' alt='' class='img-fluid'/>
        </div>
        <div class='col-12 col-sm-3'>
          <img src='{{ asset('build/images/special_event-roboplanet-i.jpg') }}' alt='' class='img-fluid'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 text-center'>
          {% if app.request.locale == 'pl' %}
            Zapraszamy do udziału w Bałtyckich Bitwach Robotów<br/>
            oraz do zapoznania się z ofertą RoboPlanet!<br/><br/>
          {% else %}
            Meet us during Baltic Robo Battles and check our offer!<br/><br/>
          {% endif %}
          <a href='http://roboplanet.pl' target='_blank'>roboplanet.pl</a> |
          <a href='https://fb.me/RoboplanetGdansk' target='_blank'>Facebook</a> |
          <a href='https://www.instagram.com/robo_planet' target='_blank'>Instagram</a> |
          <a href='https://pl.pinterest.com/roboplanet' target='_blank'>Pinterest</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
